.wrapper {
  background: rgb(156, 149, 149);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card {
  background: #ffffff;
  width: 430px;
  height: 932px;
  border-radius: 20px;
  padding: 0 42px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.topRow {
  margin-top: 76px;
}

.backArrow {
  font-size: 20px;
  cursor: pointer;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #1E1729;
  text-align: center;
  margin-top: 57.7px;
  margin-bottom: 16px;
}

/* Form Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
  color: #374151;
  font-weight: 500;
}

.input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.input:focus {
  border-color: #3f6ad8;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  right: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Primary Button */
.primaryButton {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: none;
  background-color: #3f6ad8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.primaryButton:disabled {
  background-color: #c5cbdc;
  cursor: not-allowed;
}

.linkText {
  margin-top: 18px;
  text-align: left;
  font-size: 14px;
  color: rgba(84, 128, 239, 1);
}

.linkText a {
  color: rgba(84, 128, 239, 1);
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    height: auto;
    padding: 24px 16px;
  }

  .title {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 12px;
  }

  .primaryButton {
    height: 48px;
  }
}
