.wrapper {
  background: rgb(156, 149, 149);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card {
  background: #ffffff;
  width: 100%;
  max-width: 430px;
  height: 932px;
  border-radius: 20px;
  padding: 32px 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  position: relative;
}


.topRow {
  margin-top: 76px; 
}

.backArrow {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #1E1729;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 16px;
}

.subtext {
  font-size: 14px;
  color: rgba(30, 23, 41, 0.7);
  text-align: left;
  margin-bottom: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.primaryButton {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: none;
  background-color: #3f6ad8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
}

.primaryButton:hover:not(:disabled) {
  opacity: 0.9;
}

.primaryButton:disabled {
  background-color: #c5cbdc;
  cursor: not-allowed;
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    height: auto;
    padding: 24px 16px;
  }

  .title {
    font-size: 24px;
  }

  .primaryButton {
    height: 48px;
  }
}






.group {
  margin-bottom: 18px;
}

.label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #3f6ad8;
}

.toggle {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 13px;
  color: #6b7280;
}


