.container {
  width: 100%;
  max-width: 480px;
  margin: auto;
  padding: 18px;
  background: #ffffff;
  font-family: Inter, sans-serif;
  
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h3 {
  font-size: 16px;
  font-weight: 600;
}

/* Title */

.titleSection {
  margin-bottom: 28px;
}

.iconBox {
  width: 45px;
  height: 45px;
  background: #e8f0ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.titleSection h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.titleSection p {
  color: #6b7280;
  font-size: 14px;
}

/* Sections */

.section {
  margin-bottom: 28px;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.badge {
  background: #2563eb;
  color: white;
  font-size: 13px;
  padding: 4px 9px;
  border-radius: 8px;
}

/* Cards */

.card {
  display: flex;
  gap: 12px;
  padding: 14px;
  border-radius: 12px;
  background:#F9FBFD ;
  margin-bottom: 12px;
  border: 1px solid #e5e7eb;
}

.cardIcon {
  color: #2563eb;
  font-size: 40px;
}

.card h5 {
  font-size: 14px;
  margin-bottom: 4px;
  
}

.card p {
  font-size: 13px;
  color: #6b7280;
}

/* Notice box */

.noticeBox {
  background: #eef3ff;
  padding: 16px;
  border-radius: 12px;
}

.noticeBox p {
  font-size: 14px;
  margin-bottom: 12px;
  color: #2563eb;
}

.noticeBox ul {
  list-style: none;
  padding: 0;
}

.noticeBox li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.noticetext {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 16px;
gap: 5px;
}

.noticetext span {

  margin-left: 20px;

}


/* List Items */

.listItem {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}

.listItem p {
  font-size: 14px;
  color: #374151;
}

/* Warning */

.warningBox {
  border: 1px dashed #F6F6F6;
  padding: 14px;
  border-radius: 12px;
  background: #fff;
  font-size: 13px;
}

.warningHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ef4444;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 12px;
}

.subWarning {
  margin-top: 12px;
  background:#F9FBFD ;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

/* Disclaimer */

.disclaimer {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-left: 20px;
  text-align: center;
}

/* Button */

.button {
  width: 100%;
  padding: 14px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}