.page {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 430px;
  padding: 20px;
  box-sizing: border-box;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  margin-bottom: 20px;
}

.back {
  font-size: 20px;
  cursor: pointer;
}

/* Icon */

.iconWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.shield {
  width: 20px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shield img {
  width: 120px;
  height:120px ;
}


/* Text */

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
  margin-bottom: 25px;
}

/* Section */

.section {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}

.number {
  min-width: 28px;
  height: 28px;
  background: #2563eb;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.section h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

.section p {
  font-size: 13px;
  color: #6b7280;
}
.sectionp {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 20px;
}

.section ul {
  padding-left: 18px;
  font-size: 14px;
  color: #6b7280;
}

.sectiontext{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.strong{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2563eb;
  margin-bottom: 10px;
  
}
.strong2{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #2563eb;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* Card */

.card {
  background: #eaf1ff;
  padding: 14px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 13px;
  border: 1px solid #D3DFFF ;

  
}
.card2 {
  background: #F9FBFD;
  padding: 14px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 13px;
  border: 1px solid #D3DFFF ;

  
}

.obligation{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.obligation1{
display: flex;
flex-direction: column;
gap: 4px;
}

/* Email */

.email {
  color: #2563eb;
  margin-top: 6px;
}

/* Subtitle */

.subtitle {
  margin-top: 30px;
  margin-bottom: 16px;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #f9fafb;
  border-radius: 10px;
  overflow: hidden;
}

.table td {
  padding: 10px;
  font-size: 13px;
  border-bottom: 1px solid #eee;
}






/* Agree */

.agree {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  margin-top: 50px;
  
}

/* Button */

.button {
  width: 100%;
  margin-top: 14px;
  padding: 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}