.card {
  background: white;
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.imageWrapper {
  position: relative;
}

.imageWrapper img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.verified {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #2563eb;
  color: white;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 12px;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.cardContent {
  padding: 15px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
    display: flex;
    align-items:center ;
    gap: 6px;
  font-size: 13px;
  color: gray;
  margin: 6px 0;
}

.details {
  display: flex;
  gap: 16px;
  font-size: 12px;
  color: gray;
  margin-bottom: 30px;

}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceRow h2 {
  color: #2563eb;
  font-size: 18px;
  margin: 0;
}

.arrowBtn {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 20%;
  padding: 8px 9px;
  cursor: pointer;
}

.Beds{
    background-color:#F9FBFD ;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    padding-left: 7px;
}


.rating{
  background-color:#FEFCE8; 
color: #EAB308;
   border-radius: 5px;
   padding-left:9px ;
   padding-right:9px ;
   padding-bottom:4px ;
   padding-top:4px ;
}


