.container {
  width: 100%;
  min-height: 100vh;
  background: #f8fafc;
  padding: 16px;
  font-family: "Inter", sans-serif;
  padding-bottom: 80px;
  box-sizing: border-box;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  
   
    
}


.welcome {
  font-size: 12px;
  color: gray;
}

.notification {
  font-size: 22px;
  cursor: pointer;
}

/* Search Bar */
.searchBar {
  margin: 15px 0;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.searchBar input {
  border: none;
  flex: 1;
  outline: none;
  font-size: 14px;
}

.searchBar span {
  margin-left: 10px;
  cursor: pointer;
}

/* Filters */
.filters {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-bottom: 20px;
}

.filters button {
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  background: #e2e8f0;
  cursor: pointer;
  white-space: nowrap;
}

.active {
    display: flex;
    align-items:center ;
    gap: 6px;
  background: #2563eb;
  color: white;
}

/* Card */
.card {
  background: white;
  border-radius: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.imageWrapper {
  position: relative;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
}

.verified {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #2563eb;
  color: white;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 12px;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.cardContent {
  padding: 15px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 13px;
  color: gray;
  margin: 6px 0;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceRow h2 {
  color: #2563eb;
  font-size: 18px;
  margin: 0;
}

.arrowBtn {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 14px;
  cursor: pointer;
}

/* Bottom Nav */
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 0;
  border-top: 1px solid #e5e7eb;
}

.navItem {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: gray;
}

.activeNav {
  color: #2563eb;
}

/* Responsive adjustments */
@media (min-width: 1024px) {
  .card {
    display: flex;
    gap: 20px;
    padding: 0;
  }

  .imageWrapper {
    flex: 0 0 350px;
  }

  .imageWrapper img {
    width: 100%;
    height: 100%;
    max-height: none;
    border-radius: 16px 0 0 16px;
  }

  .cardContent {
    flex: 1;
    padding: 24px;
  }
}
