.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  background: #ffffff;
  border-radius: 20px;
  padding: 40px 32px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.iconCircle {
  width: 100px;
  height: 100px;
  background: #e9efff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #3563e9;
  font-weight: bold;
}

.iconCircle2 {
  width: 55px;
  height: 55px;
  background: #e9efff;
  border-radius: 50%;
  border: 1px solid #1E5EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color:#1E5EFF ;
  color: white;
  font-weight: bold;
}









.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #1e1e1e;
}

.description {
  font-size: 15px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 28px;
}

.primaryBtn {
  width: 100%;
  padding: 14px;
  background: #4f6df5;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 14px;
  transition: 0.3s ease;
}

.primaryBtn:hover {
  background: #3f5ae0;
}

.secondaryBtn {
  width: 100%;
  padding: 14px;
  background: transparent;
  border: 1.5px solid #4f6df5;
  border-radius: 12px;
  color: #4f6df5;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.secondaryBtn:hover {
  background: #f3f6ff;
}