.wrapper {
  background: rgb(156, 149, 149);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.card {
  background: #ffffff;
  width: 430px;      
  height: 932px;           
  border-radius: 20px;
  padding: 32px 24px;   
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
}


.topRow {
  margin-top: 76px;
}

.backArrow {
  font-size: 20px;
  cursor: pointer;
}


.progressWrapper {
  margin-top: 24px;
  margin-bottom: 24px;
}

.progressTop {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #3f6ad8;
  font-weight: 500;
  margin-bottom: 6px;
}

.progressBar {
  height: 6px;
  width: 100%;
  background: #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  width: 75%;
  background: rgba(84, 128, 239, 1);
}


.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: left;
  color: #1E1729;
}

.subtitle {
  font-size: 14px;
  color: rgba(30, 23, 41, 0.7);
  margin-bottom: 28px;
  text-align: left;
}


.otpWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.otpInput {
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  border: 1.5px solid #d1d5db;
  border-radius: 8px;
  outline: none;
}

.otpInput:focus {
  border-color: rgba(84, 128, 239, 1);
}

.activeInput {
  border-color: rgba(84, 128, 239, 1);
}

/* Resend */
.resendText {
  font-size: 13px;
  color: #6b7280;
  text-align: center;
  margin-bottom: 6px;
}

.resendBtn {
  background: #eef2ff;
  color: rgba(84, 128, 239, 1);
  border: none;
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 999px;
  cursor: pointer;
  display: block;
  margin: 0 auto 24px auto;
}


.verifyBtn {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: not-allowed;
  background: #d1d5db;
  color: #ffffff;
}

.enabled {
  background: rgba(84, 128, 239, 1);
  cursor: pointer;
}

