.container {
  min-height: 100vh;
  background: linear-gradient(180deg, #f5f7fc 0%, #ffffff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.card {
  width: 375px;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #374151;
}


.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}


.imageWrapper::before {
  content: "";
  position: absolute;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(79, 70, 229, 0.20) 0%,
    rgba(79, 70, 229, 0.14) 30%,
    rgba(79, 70, 229, 0.08) 50%,
    rgba(79, 70, 229, 0.04) 65%,
    transparent 80%
  );
  filter: blur(35px);
  z-index: 0;
}

.image {
  width: 300px;
  height: auto;
  object-fit: contain;
  padding: 81.65px 35px 110.5px 36px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 18px 28px rgba(0, 0, 0, 0.08));
}


.content {
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  color: #1f2937;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 15px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 32px;
}

.nextBtn {
  width: 100%;
  padding: 16px;
  background: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nextBtn:hover {
  background: #4338ca;
}

.bottomSection {
  margin-bottom: 40px;
}

.pagination {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.activeDot {
  width: 24px;
  border-radius: 8px;
  background: #4f46e5;
}
