.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 430px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 10px 0;
  border-top: 1px solid #e5e7eb;
}

.navItem {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  color: gray;
}

.activeNav {
  color: #2563eb;
}
