.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 16px 40px 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: #f6f7f9;
}

/* Header */
.header {
  margin-bottom: 20px;
}

.back {
  font-size: 20px;
  cursor: pointer;
}

/* Step Section */
.stepSection {
  margin-bottom: 20px;
}

.stepTop {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.progressBar {
  width: 100%;
  height: 6px;
  background: #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.progressFill {
  width: 100%;
  height: 100%;
  background: #2f5aff;
  border-radius: 10px;
}

/* Title Section */
.titleSection {
  margin-bottom: 25px;
}

.titleSection h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.titleSection p {
  font-size: 14px;
  color: #666;
}

/* Form */
.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  font-size: 12px;
  font-weight: 600;
  color: #888;
  display: block;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.selectWrapper select  {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: white;
}

.selectWrapper input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: white;
}






/* Upload Box */
.uploadBox {
  border: 2px dashed #cdd5df;
  background: #eef2f8;
  border-radius: 16px;
  padding: 40px 20px;
  text-align: center;
}

.cameraCircle {
  width: 60px;
  height: 60px;
  background: #2f5aff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 0 auto 15px auto;
}

.uploadBox h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.uploadBox p {
  font-size: 13px;
  color: #666;
}

/* Info Card */
.infoCard {
  background: #f2f2f2;
  padding: 14px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.infoIcon {
  background: #ff6b6b;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoCard p {
  font-size: 12px;
  color: #555;
}

/* Encryption */
.encrypted {
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-bottom: 25px;
  font-weight: 500;
}

/* Continue Button */
.continueBtn {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: none;
  background: #4a6cf7;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}